body {
  min-width: 500px;
  overflow-x: hidden;
}

img {
  margin: 5px;
  border: 2px solid black;
  vertical-align: middle;
  width: 150px;
  height: 150px;
}

.Box { 
	z-index: 1000;
	width: 500px;
	height: auto;
	vertical-align: middle;
	border: 2px solid black;
	float: left;
	padding: 10px;
}

#lenBox { 
	z-index: 1000;
	width: 500px;
	height: auto;
	vertical-align: middle;
	border: 2px solid black;
	float: left;
	padding: 10px;
}